<!-- https://www.tutorialesprogramacionya.com/angularya/detalleconcepto.php?punto=46&codigo=46&inicio=40 -->

<div class="tablaNg">

  <div class="titulo">
    <h1>Formulario de Registro de Usuarios:</h1>
  </div>
  <p-table class="pTabla" [value]="dataSource" [rows]="5" [paginator]="true" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div>
        <h5 >Usuarios Registrados</h5>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">Nombre <p-sortIcon>name</p-sortIcon>
        </th>
        <th pSortableColumn="Email">Email
        </th>
        <th pSortableColumn="Subscripcion">Subscripcion
        </th>
        <th pSortableColumn="País">País
        </th>
        <th pSortableColumn="Ciudad">Ciudad
        </th>
        <th pSortableColumn="Acciones">Acciones
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-users class="ngTemplate">
      <tr>


        <td>{{users.name}}</td>
        <td>{{users.email}}</td>
        <td class="icon">
          <i class="pi pi-times" *ngIf="!users.subscribed"></i>
          <i class="pi pi-check" *ngIf="users.subscribed"></i>
        </td>
        <td>{{users.country}}</td>
        <td>{{users.city}}</td>


        <td class='buttonsIcon'>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
            (click)="sendId(users)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
            (click)="deleteData(users.id)"></button>
        </td>
      </tr>
    </ng-template>

  </p-table>



</div>