.optionButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

p {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: azure;
}

.button {
  margin-right: 20px;
  align-items: center;
  color: white;
  background-color: #0080db;
  height: 5vh;
}

button:hover {
  background-color: #265579;
}

.titleChild{
  color: rgb(173, 170, 170) ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2%;
}
