.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.labelCounter {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.autoButton {
    width: 100%;
    cursor: pointer;
    height: 42px;
    background: #787de0;
    font-size: 1em;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    max-width: 15%;
}

.counterButton {
    width: 100%;
    cursor: pointer;
    height: 42px;
    background: #787de0;
    font-size: 1em;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    max-width: 5%;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionsButtons {
    display: flex;
    justify-content: space-around;

}

.inputControl {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    height: 42px;
    background: #f7f7f9;
    font-size: 1em;
    font-family:
        'Quicksand', sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    max-width: 10%;
    margin: 3%;
    align-items: center;
}