<div [formGroup]="myForm2 "class="containerView">

    <div class="row mt-3">

        <div class="field p-fluid">
            <label>Pais</label>
            <select formControlName="countries" pInputText>
              <option *ngFor="let item of countries" [value]="item.name.common" pInputText>{{
                item.name.common
                }}</option>
            </select>
          </div>

    </div>

    <div class="row mt-3">

        <div class="col">
            <app-buscador [pais]="paisActual"></app-buscador>
        </div>

    </div>

</div>