<form [formGroup]="myForm" (ngSubmit)="save()" class="form">

  <h5>Datos</h5>
  <hr>


  <div class="field p-fluid">
    <label for="name">Nombre</label>
    <input id="name" type="username" formControlName="name" pInputText />
    <small id="username-help" *ngIf="validValue('name')" class="p-error">El nombre debe tener al menos 2 letras.</small>
  </div>

  <div class="field p-fluid">
    <label for="password">Contraseña</label>
    <input id="password" type="password" formControlName="password" pInputText />
    <small id="username-help" *ngIf="validValue('password')" class="p-error">La contraseña es muy corta</small>
  </div>

  <div class="field p-fluid">
    <label for="passwordConfirm">Confirmar Contraseña</label>
    <input id="passwordConfirm" type="password" formControlName="passwordConfirm" pInputText class="inputField" />
    <small id="username-help" *ngIf="validValue('passwordConfirm')" class="p-error">Las contraseñas deben
      coincidir</small>
  </div>

  <div class="field p-fluid">
    <label for="email">Correo</label>
    <input id="email" type="email" formControlName="email" pInputText />
    <small id="username-help" *ngIf="validValue('email')" class="p-error">{{ emailErrorMsg }}</small>
  </div>

  <div class="fieldCheck">
    <p-checkbox value="Ofertas" formControlName="subscribed" inputId="ny"></p-checkbox>
    <label for="ny">Recibir Ofertas</label>
  </div>


  <div class="field p-fluid">
    <label>Pais</label>
    <select formControlName="country" pInputText>
      <option *ngFor="let item of countries" [value]="item.name.common" pInputText>{{
        item.name.common
        }}</option>
    </select>
  </div>


  <div class="field p-fluid">
    <label for="city">Ciudad</label>
    <input id="city" type="city" formControlName="city" pInputText/>
    <small id="username-help" *ngIf="validValue('city')" class="p-error">El nombre de la ciudad debe tener al menos 3 caracteres</small>
  </div>


  <button pButton pRipple type="submit" label="Enviar" class="p-button-rounded p-button-success"></button>
</form>
