@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/lara-dark-blue/theme.css';
@import '~primeng/resources/primeng.min.css';


body { 
    background-color: rgb(9, 20, 20); 
    color: rgb(203, 204, 205); 
    margin: 3%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
