.card{
    display: flex;
    align-items: center;
    padding: 3%;
    background-color: rgb(32, 18, 60);
  
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(9, 20, 20);
    display: flex;
    align-items: center;
    justify-content: center;
}